* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #ff5733;
}
.menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-size: 1.2rem;
}
.menu a:hover {
  color: rgba(191, 19, 19, 0.808);
}
.cabecera {
  width: 90%;
  height: 15%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
figure {
  width: 390px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
#img_pr {
  width: 150px;
  height: 130px;
}
h2 {
  font-size: 48;
  color: black;
  text-align: left;
  margin-left: 20px;
}
.formulario {
  display: flex;
  justify-content: center;
  margin: 10px;
}

label {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

button {
  cursor: pointer;
}

footer {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 14px;
}
