.restaurante{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.restaurante figure{
    display: flex;
    flex-direction: column;
}

#img_rs{
    width: 150px;
    height: 84px;
}

#img_rs-s{
    width: 84px;
    height: 84px;
}